body{
  text-align: center;
}

form{
  margin: 30px;
  display: inline-block;
  width: 50%;
  border: solid 1px #000000;
  text-align: center;
  background-color: lightblue;
}

form label, form button, form input{
  display: inline-block;
  margin: 5px 30% 5px 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  display: inline-block;
  width: 50%;
  text-align: left;
  list-style-position: inside;
  background-color: grey;
}
ul li{
  margin-left: 38%;
  margin-top: 5px;
  margin-bottom: 5px;
}